.paypal-button-container{
    margin-top:40px;
    margin-left:100px;
}
.active2{
    margin top:500px;
    margin-left:100px;
    border-radius:30px;
}
.item{
    margin top:5rem;
    margin-left:100px;
    align-items:center;
}